RewriteEngine On
RewriteBase /poopiyohe/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

Options +FollowSymLinks

RewriteRule ^404$ not-found.php

ErrorDocument 404 http://localhost/poopiyohe/404.html
ErrorDocument 403 http://localhost/poopiyohe/403.html

RewriteRule ^admin$ admin.php
RewriteRule ^auditan$ auditan.php
RewriteRule ^auditor$ auditor.php
RewriteRule ^index$ index.php
RewriteRule ^login$ login.php

# Admin
RewriteRule ^beranda_admin$ admin.php?views_admin=beranda_admin
RewriteRule ^opd$ admin.php?views_admin=opd
RewriteRule ^instansi_vertikal$ admin.php?views_admin=instansi_vertikal
RewriteRule ^data_auditor$ admin.php?views_admin=data_auditor
RewriteRule ^data_penugasan$ admin.php?views_admin=datapenugasan
RewriteRule ^tambah_penugasan$ admin.php?views_admin=tambah_penugasan
RewriteRule ^detail_penugasan$ admin.php?views_admin=detail_penugasan
RewriteRule ^edit_penugasan$ admin.php?views_admin=edit_penugasan

# Auditan
RewriteRule ^beranda_auditan$ auditan.php?views_auditan=beranda_auditan
RewriteRule ^daftar_temuan$ auditan.php?views_auditan=daftar_temuan
RewriteRule ^penilaian$ auditan.php?views_auditan=penilaian
RewriteRule ^detail_penilaian/([0-9]+)$ auditan.php?views_auditan=detail_penilaian&id=$1 [NC,L]
RewriteRule ^detail_temuan/([0-9]+)$ auditan.php?views_auditan=detail_temuan&id=$1 [NC,L]
#RewriteRule ^input_tindak_lanjut/([0-9]+)/([0-9]+)$ auditan.php?views_auditan=input_tindak_lanjut&tm=$1&id=$2 [NC,L]
RewriteRule ^tindak_lanjut_rekom/([0-9]+)/([0-9]+)$ auditan.php?views_auditan=tindak_lanjut_rekom&tm=$1&id=$2 [NC,L]
RewriteRule ^edit_nilai/([0-9]+)$ auditan.php?views_auditan=edit_nilai&id=$1 [NC,L]

RewriteRule ^beranda_auditor$ auditor.php?views_auditor=beranda_auditor

# Auditor Ketua
RewriteRule ^beranda_ketua$ auditor.php?views_ketua=beranda_ketua
RewriteRule ^ketua_hasil_penugasan$ auditor.php?views_ketua=ketua_hasil_penugasan
#RewriteRule ^ketua_tambah_temuan$ auditor.php?views_ketua=ketua_tambah_temuan
RewriteRule ^ketua_tambah_temuan/([0-9]+)$ auditor.php?views_ketua=ketua_tambah_temuan&id=$1 [NC,L]
RewriteRule ^ketua_edit_temuan/([0-9]+)$ auditor.php?views_ketua=ketua_edit_temuan&id=$1 [NC,L]
RewriteRule ^ketua_detail_penugasan/([0-9]+)$ auditor.php?views_ketua=ketua_detail_penugasan&id=$1 [NC,L]
RewriteRule ^ketua_data_penugasan$ auditor.php?views_ketua=ketua_data_penugasan
RewriteRule ^ketua_tambah_penugasan$ auditor.php?views_ketua=ketua_tambah_penugasan
RewriteRule ^ketua_lihat_penugasan$ auditor.php?views_ketua=ketua_lihat_penugasan
RewriteRule ^ketua_edit_penugasan$ auditor.php?views_ketua=ketua_edit_penugasan
RewriteRule ^ketua_detail_tl/([0-9]+)/([0-9]+)$ auditor.php?views_ketua=ketua_detail_tl&tm=$1&id=$2 [NC,L]

# Auditor Anggota
RewriteRule ^beranda_anggota$ auditor.php?views_anggota=beranda_anggota
RewriteRule ^anggota_data_penugasan$ auditor.php?views_anggota=anggota_data_penugasan
RewriteRule ^anggota_tambah_penugasan$ auditor.php?views_anggota=anggota_tambah_penugasan
RewriteRule ^anggota_lihat_penugasan$ auditor.php?views_anggota=anggota_lihat_penugasan
RewriteRule ^anggota_edit_penugasan$ auditor.php?views_anggota=anggota_edit_penugasan
RewriteRule ^anggota_hasil_penugasan$ auditor.php?views_anggota=anggota_hasil_penugasan
RewriteRule ^anggota_tambah_temuan/([0-9]+)$ auditor.php?views_anggota=anggota_tambah_temuan&id=$1 [NC,L]
RewriteRule ^anggota_detail_penugasan/([0-9]+)$ auditor.php?views_anggota=anggota_detail_penugasan&id=$1 [NC,L]
RewriteRule ^anggota_detail_tl/([0-9]+)/([0-9]+)$ auditor.php?views_anggota=anggota_detail_tl&tm=$1&id=$2 [NC,L]

# Auditor Dalnis
RewriteRule ^beranda_dalnis$ auditor.php?views_dalnis=beranda_dalnis
RewriteRule ^dalnis_hasil_penugasan$ auditor.php?views_dalnis=dalnis_hasil_penugasan
RewriteRule ^dalnis_detail_penugasan/([0-9]+)$ auditor.php?views_dalnis=dalnis_detail_penugasan&id=$1 [NC,L]
RewriteRule ^dalnis_data_penugasan$ auditor.php?views_dalnis=dalnis_data_penugasan
RewriteRule ^dalnis_tambah_penugasan$ auditor.php?views_dalnis=dalnis_tambah_penugasan
RewriteRule ^dalnis_lihat_penugasan$ auditor.php?views_dalnis=dalnis_lihat_penugasan
RewriteRule ^dalnis_edit_penugasan$ auditor.php?views_dalnis=dalnis_edit_penugasan
RewriteRule ^dalnis_detail_tl/([0-9]+)$ auditor.php?views_dalnis=dalnis_detail_tl&id=$1 [NC,L]
RewriteRule ^dalnis_detail_tl/([0-9]+)/([0-9]+)$ auditor.php?views_dalnis=dalnis_detail_tl&tm=$1&id=$2 [NC,L]

# Auditor Korwas
RewriteRule ^beranda_korwas$ auditor.php?views_korwas=beranda_korwas
RewriteRule ^korwas_data_penugasan$ auditor.php?views_korwas=korwas_data_penugasan
RewriteRule ^korwas_tambah_penugasan$ auditor.php?views_korwas=korwas_tambah_penugasan
RewriteRule ^korwas_lihat_penugasan$ auditor.php?views_korwas=korwas_lihat_penugasan
RewriteRule ^korwas_edit_penugasan$ auditor.php?views_korwas=korwas_edit_penugasan
RewriteRule ^korwas_hasil_penugasan$ auditor.php?views_korwas=korwas_hasil_penugasan
RewriteRule ^korwas_detail_penugasan/([0-9]+)$ auditor.php?views_korwas=korwas_detail_penugasan&id=$1 [NC,L]
RewriteRule ^detail_nilai/([0-9]+)$ auditor.php?views_korwas=detail_nilai&id=$1 [NC,L]
RewriteRule ^trusted_advisor$ auditor.php?views_korwas=trusted_advisor
RewriteRule ^pan_rb$ auditor.php?views_korwas=pan_rb
RewriteRule ^pionir$ auditor.php?views_korwas=pionir
RewriteRule ^korwas_detail_tl/([0-9]+)/([0-9]+)$ auditor.php?views_korwas=korwas_detail_tl&tm=$1&id=$2 [NC,L]

# Auditor Monitoring
RewriteRule ^beranda_monitoring$ auditor.php?views_monitoring=beranda_monitoring
RewriteRule ^monitoring_data_penugasan$ auditor.php?views_monitoring=monitoring_data_penugasan
RewriteRule ^monitoring_tambah_penugasan$ auditor.php?views_monitoring=monitoring_tambah_penugasan
RewriteRule ^monitoring_lihat_penugasan$ auditor.php?views_monitoring=monitoring_lihat_penugasan
RewriteRule ^monitoring_edit_penugasan$ auditor.php?views_monitoring=monitoring_edit_penugasan
RewriteRule ^monitoring_tindak_lanjut$ auditor.php?views_monitoring=monitoring_tindak_lanjut
RewriteRule ^monitoring_detail_tl/([0-9]+)$ auditor.php?views_monitoring=monitoring_detail_tl&id=$1 [NC,L]
RewriteRule ^monitoring_cek_tl/([0-9]+)/([0-9]+)$ auditor.php?views_monitoring=monitoring_cek_tl&tm=$1&id=$2 [NC,L]

RewriteRule ^beranda$ index.php?views_user=beranda

RewriteRule ^([A-Za-z0-9-]+)$ admin.php?views_admin=$1
RewriteRule ^([A-Za-z0-9-]+)$ auditan.php?views_auditan=$1
RewriteRule ^([A-Za-z0-9-]+)$ auditor.php?views_auditor=$1
RewriteRule ^([A-Za-z0-9-]+)$ index.php?views_user=$1

# X-XSS-Protection
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
</IfModule>

# Protect database config file
<Files env.php>
    deny from all
</Files>

# Deny from 192.168.43.75

Options All -Indexes