RewriteEngine On
RewriteBase /poopiyohe/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^admin$ admin.php
RewriteRule ^index$ index.php
RewriteRule ^daftar daftar.php

RewriteRule ^beranda$ admin.php?views_admin=beranda
RewriteRule ^pemda$ admin.php?views_admin=pemda
RewriteRule ^instansi_vertikal$ admin.php?views_admin=instansi_vertikal
RewriteRule ^auditor$ admin.php?views_admin=auditor



RewriteRule ^([a-zA-Z0-9_-]+)$ admin.php?views_admin=$1


Options All -Indexes